.txt-button, .btn-icon, .btn{
  @include flex(row, center, center, 8px);
}

.btn-icon, .btn {
  position: relative;
  width: auto;
  text-align: center;
  border: 1px solid transparent;
  background-color: transparent;
}

.btn-icon{
  padding: 6px;
}

.btn{
  padding: 8px 20px;
  transition: opacity 0.2s ease-in-out;

  &:hover{
    opacity: 0.85;
  }
}

.txt-button, .btn{
  & > [class^="icon"]{
    display: inline-block;
    transform: translateY(-1px);
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .btn-icon, .btn {
    cursor: pointer;
  }
}
