{% extends 'app/pages/styleguide/components/template.html.twig' %}

{% block breadcrumb %}
    {% set breadcrumbs1 = [
        { text: 'Alert', url: path('app_styleguide_components_alerts')  }
    ] %}
    {% set breadcrumbs = breadcrumbs | merge(breadcrumbs1) %}

    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h1>Alerts</h1>
    </div>
{% endblock %}
