{% extends 'app/pages/styleguide/components/template.html.twig' %}

{% block title %}Alerts{% endblock %}

{% block breadcrumb %}
    {% set breadcrumbs1 = [
        { text: 'Alerts', url: path('app_styleguide_components_alerts')  }
    ] %}
    {% set breadcrumbs = breadcrumbs | merge(breadcrumbs1) %}

    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h1>Alerts</h1>

        <div class="styleguide-content-col">
            <section class="styleguide-section">
                <div class="styleguide-section-title">Basic</div>
                <div class="styleguide-section-content">
                    <div class="alert alert-primary"><p>Lorem ipsum</p></div>
                    <div class="alert alert-warning"><p>Lorem ipsum</p></div>
                    <div class="alert alert-danger"><p>Lorem ipsum</p></div>
                    <div class="alert alert-success"><p>Lorem ipsum</p></div>
                    <div class="alert alert-grey4"><p>Lorem ipsum</p></div>
                    <div class="alert alert-primary">
                        <p>
                            <span class="title">Title</span>
                            Lorem ipsum
                        </p>
                    </div>
                </div>
            </section>

            <section class="styleguide-section">
                <div class="styleguide-section-title">With icon</div>
                <div class="styleguide-section-content">
                    <div class="alert alert-primary">
                        <span class="icon-warning"></span>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="alert alert-primary">
                        <span class="icon-warning"></span>
                        <p>
                            <span class="title">Title</span>
                            Lorem ipsum
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
