{% extends 'app/pages/styleguide/components/template.html.twig' %}

{% block title %}Alerts{% endblock %}

{% block breadcrumb %}
    {% set breadcrumbs1 = [
        { text: 'Alerts', url: path('app_styleguide_components_alerts')  }
    ] %}
    {% set breadcrumbs = breadcrumbs | merge(breadcrumbs1) %}

    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h1>Alerts</h1>

        <section>
            <div class="section-title">Basic</div>
            <div class="section-content">
                <div class="alert alert-primary"><p>Lorem ipsum</p></div>
                <div class="alert alert-primary">
                    <p>
                        <span class="title">Title</span>
                        Lorem ipsum
                    </p>
                </div>
            </div>
        </section>

        <section>
            <div class="section-title">With icon</div>
            <div class="section-content">
                <div class="alert alert-primary">
                    <span class="icon-warning"></span>
                    <p>Lorem ipsum</p>
                </div>
                <div class="alert alert-primary">
                    <span class="icon-warning"></span>
                    <p>
                        <span class="title">Title</span>
                        Lorem ipsum
                    </p>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
