{% extends 'app/pages/styleguide/template.html.twig' %}

{% block main_content %}
    <div class="main-content">
        <ul>
            <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
        </ul>

        <h1>Buttons</h1>
    </div>
{% endblock %}
