{% extends 'app/pages/styleguide/components/template.html.twig' %}

{% block title %}Buttons{% endblock %}

{% block breadcrumb %}
    {% set breadcrumbs1 = [
        { text: 'Buttons', url: path('app_styleguide_components_buttons')  }
    ] %}
    {% set breadcrumbs = breadcrumbs | merge(breadcrumbs1) %}

    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h1>Buttons</h1>

        <div class="styleguide-content-col">
            <section class="styleguide-section">
                <div class="styleguide-section-title">Basic</div>
                <div class="styleguide-section-content">

                    <div class="styleguide-row">
                        <button class="btn btn-primary">Primary</button>
                        <button class="btn btn-warning">Warning</button>
                        <button class="btn btn-danger">Danger</button>
                        <button class="btn btn-success">Success</button>
                        <button class="btn btn-grey3">Grey3</button>
                        <button class="btn btn-grey4">Grey4</button>
                        <button class="btn btn-default">Default</button>

                        <button class="btn btn-primary">
                            <span class="icon-home"></span>
                            <span>Primary</span>
                        </button>
                    </div>
                    <div class="styleguide-row">
                        <button class="btn btn-primary btn-loader-without-text">
                            <span class="icon-chart-3"></span>
                            <span>Primary</span>
                        </button>
                        <button class="btn btn-primary btn-loader-with-text">
                            <span class="icon-chart-3"></span>
                            <span>Primary</span>
                        </button>
                    </div>
                    <div class="styleguide-row">
                        <button class="btn btn-primary"><span class="icon-pencil"></span></button>
                    </div>
                </div>
            </section>

            <section class="styleguide-section">
                <div class="styleguide-section-title">Icons</div>
                <div class="styleguide-section-content">

                    <div class="styleguide-row">
                        <button class="btn-icon btn-icon-primary">
                            <span class="icon-question"></span>
                            <span class="tooltip">Question</span>
                        </button>
                        <button class="btn-icon btn-icon-warning">
                            <span class="icon-warning"></span>
                            <span class="tooltip">Warning</span>
                        </button>
                        <button class="btn-icon btn-icon-danger">
                            <span class="icon-exclamation"></span>
                            <span class="tooltip">Danger</span>
                        </button>
                        <button class="btn-icon btn-icon-success">
                            <span class="icon-check1"></span>
                            <span class="tooltip">Success</span>
                        </button>
                        <button class="btn-icon btn-icon-grey3">
                            <span class="icon-question-1"></span>
                            <span class="tooltip">Grey3</span>
                        </button>
                        <button class="btn-icon btn-icon-grey4">
                            <span class="icon-question-1"></span>
                            <span class="tooltip">Grey4</span>
                        </button>
                        <button class="btn-icon btn-icon-default">
                            <span class="icon-question-1"></span>
                            <span class="tooltip">Default</span>
                        </button>

                        <button class="btn-icon btn-icon-primary">
                            <span class="icon-home"></span>
                            <span>Primary</span>
                        </button>
                    </div>
                    <div class="styleguide-row">
                        <button class="btn-icon btn-icon-primary btn-loader-without-text">
                            <span class="icon-chart-3"></span>
                        </button>
                    </div>

                </div>
            </section>
        </div>
    </div>
{% endblock %}
