{% extends 'app/pages/styleguide/template.html.twig' %}

{% block main_content %}
    <div class="main-content">
        <div class="components">
            <div class="card card-0">
                <div class="card-header">
                    <div class="card-header-name">Cards</div>
                </div>
                <div class="card-body">
                    Consulter les différentes formes de cards.
                </div>
                <div class="card-footer actions">
                    <a href="{{ path('app_styleguide_components_cards') }}" class="txt-button txt-primary semibold">
                        <span>Voir les cards</span>
                        <span class="icon-right-arrow"></span>
                    </a>
                </div>
            </div>
            <div class="card card-0">
                <div class="card-header">
                    <div class="card-header-name">Buttons</div>
                </div>
                <div class="card-body">
                    Consulter les différents styles, formes et états des buttons.
                </div>
                <div class="card-footer actions">
                    <a href="{{ path('app_styleguide_components_buttons') }}" class="txt-button txt-primary semibold">
                        <span>Voir les buttons</span>
                        <span class="icon-right-arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
