{% extends 'app/pages/styleguide/template.html.twig' %}

{% block main_content %}
    <div class="main-content">
        <ul>
            <li><a href="{{ path('app_styleguide_components_buttons') }}">Boutons</a></li>
        </ul>
    </div>
{% endblock %}
