.layout-horizontal-0{
  position: relative;

  $minHeight: 60px;
  $headerHeight: 30px;

  .btn-menu-mobile{
    font-size: 24px;

    .btn-icon{
      padding: var(--espaceDiv);
    }
  }

  header{
    @include flex(row, center, space-between, var(--espaceEls));
    background-color: red;
    padding-left: var(--espaceDiv);

    .header-logo{
      @include flex(row, center, center);

      img{
        height: $headerHeight;
      }
    }

    .avatar{
      width: $headerHeight; height: $headerHeight;
    }

    & > div{
      @include flex(row, center, flex-start, var(--espaceEls));
    }
  }

  nav{
    background-color: var(--overlay);
    position: fixed;
    top: 0; left: -100vw;
    z-index: -1;
    width: 100vw; height: 100%;

    .nav-menu{
      position: relative;
      @include flex(column, flex-start, flex-start, var(--espaceDiv));
      background-color: yellow;
      left: -90vw;
      width: 90vw;
      height: 100vh;
      padding-bottom: var(--espaceDiv);
      transition: left 0.2s ease-in-out;
    }

    .nav-menu-header{
      @include flex(row, center, space-between, var(--espaceEls));
      padding-left: var(--espaceDiv);
      width: 100%;

      .nav-menu-header-logo{
        @include flex(row, center, center);

        img{
          height: 30px;
          object-fit: contain;
        }
      }
    }

    .nav-menu-items{
      @include flex(column, flex-start, space-between, var(--espaceDiv));
      width: 100%; height: 100%;

      & > div{
        @include flex(column, flex-start, flex-start, var(--espaceEls));
        width: 100%;
      }
    }

    .nav-menu-item{
      padding: 0 var(--espaceDiv);
      width: 100%;
      word-break: break-all;
    }
  }

  nav.active{
    left: 0;
    z-index: 1000;

    .nav-menu{
      left: 0;
    }
  }

  .body{
    background-color: blue;
    min-height: calc(100vh - $minHeight - 50px);
  }

  footer{
    background-color: green;
    min-height: $minHeight;
  }


  //                      __   _ ____  ___   ___    __
  //                     | _| / |___ \( _ ) / _ \  |_ |
  //    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
  //   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
  //                     | |  |_|_____\___/ \___/   | |
  //                     |__|                      |__|
  @media (min-width:1280px) {
    .btn-menu-mobile{
      display: none;
    }

    header{
      min-height: $minHeight;
      padding-right: var(--espaceDiv);
    }

    nav{
      position: relative;
      left: 0;
      z-index: 1000;
      height: auto;

      .nav-menu-header{
        display: none;
      }

      .nav-menu{
        left: 0;
        height: auto;
        width: 100vw;
        padding-bottom: 0;
      }

      .nav-menu-items{
        flex-direction: row;

        & > div{
          flex-direction: row;
        }
      }

      .nav-menu-item{
        width: auto;
        padding: 1.28rem var(--espaceDiv);
      }
    }

    .body{
      min-height: calc(100vh - ($minHeight * 3));
    }
  }
}
