.components{
  @include flex(row, flex-start, flex-start, var(--espaceDiv));
  flex-wrap: wrap;

  .card-0{
    .actions{
      .txt-button{
        [class^="icon-"]{
          transition: transform 0.2s linear;
        }

        &:hover{
          [class^="icon-"]{
            transform: translate(4px, -1px);
          }
        }
      }
    }
  }
}

h1 + .styleguide-content-col{
  margin-top: 1.2rem;
}

.styleguide-content-col{
  @include flex(column, flex-start, flex-start, var(--espaceDiv));

  .styleguide-section{
    width: 100%;
  }
}

.styleguide-section{
  background-color: var(--alpha);
  border-radius: calc(var(--radius) * 2);
  padding: var(--espaceDiv);
}

.styleguide-section-title{
  @include fontSemibold();
  font-size: 20px;
  margin-bottom: 0.8rem;
}

.styleguide-section-content{
  @include flex(column, flex-start, flex-start, var(--espaceEls));
}
