.alert{
  @include flex(row, flex-start, flex-start);
  padding: var(--espaceEls);

  p, ul li{
    font-size: 15px;
  }

  [class^="icon-"] {
    & + p,
    & + div{
      margin-left: 8px;
    }
  }

  .title{
    display: block;
    @include fontSemibold();
    margin-bottom: 4px;
  }
}


$icons:
        "primary" var(--primaryOpacity4) var(--primary),
        "danger" var(--dangerOpacity4) var(--danger),
;

@each $name, $bg, $txt in $icons {
  .alert-#{$name} {
    background: $bg;
    color: $txt;
  }
}
