{% extends 'app/layout/layout.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block main_content %}
    <ul>
        <li><a href="{{ path('app_styleguide_components_buttons') }}">Boutons</a></li>
    </ul>
{% endblock %}
